<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fyt3.ggpht.com%2F4QasxSJnozpjjcjg6NxbbWJ3_VsCwR7lXUVRqg90sDiqUExBs4ROvtL88nuvquPAQ1mIM3wu%3Ds900-c-k-c0x00ffffff-no-rj&imgrefurl=https%3A%2F%2Fwww.youtube.com%2Fchannel%2FUC0R_WY6X9Rp5l9kZ4mX1SJQ&tbnid=Ng__HygTsztTOM&vet=12ahUKEwiytYeq0LH3AhW40qACHYTFAJMQMygAegUIARDeAQ..i&docid=OCE_nkDg9CCyfM&w=900&h=900&q=quize&ved=2ahUKEwiytYeq0LH3AhW40qACHYTFAJMQMygAegUIARDeAQ" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Bootstrap
      </a>
    </div>
  </nav>